<!DOCTYPE html>
<html>
<head>
  <title>Dinnr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- <div class="container"> -->
  <header class="row">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Dinnr</a>
        <%= link_to "Dinnr", root_path, class: "brand-logo" %>
        <a href="#" data-activates="dinnr-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li ><%= link_to "Create event", new_event_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
        <ul class="side-nav" id="dinnr-nav">
          <li ><%= link_to "Create event", new_event_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
      </div>
    </nav>

<% if flash[:notice] || flash[:alert]%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
</header>

<main class="row"><%= yield %></main>

<footer class="row"></footer>

<!-- </div> -->
</body>
</html>
