<div class="row">
  <div class="col s12 map" id="main-map-canvas"></div>
  <div id="info-box"></div>
</div>
<div class="row">
<% if @events.any? %>
  <% @events.each do |event| %>
<div class="panel col s12 m6 l4">
  <div class="card teal lighten-4">
    <div class="card-image">
      <% if event.pictures.any? %>
        <%= image_tag event.pictures[0].image.url(:medium), class: 'responsive-img' %>
      <% end %>
    </div>
    <div class="card-content ">
      <span class="card-title"><%= link_to event.title, event_path(event), class: "event-title" %></span>
      <table>
        <tbody>
          <tr>
            <td><%= event.description %></td>
          </tr>
            <td><%= event.nice_date %>
            </td>
          </tr>
          <tr>
            <td><%= event.location %></td>
          </tr>
          <tr>
            <td><p>Guest Spaces:     <%= event.size %></p></td>
          </tr>
        </tbody>
      </table>
      <div>
      <% if user_signed_in? %>
      </div>
      <div class="card-action">
        <%= link_to "Join Event", new_event_booking_path(event.id), class: "join-leave-buttons" %>
        <%= link_to "Leave Event", leave_event_bookings_path(event.id), class: "join-leave-buttons" %>
      <% end %>
      </div>



          </div>
        </div>
      </div><% end %><% else %>
      <p>No events yet</p><% end %>
    </div>