<div class="row">
<% if @events.any? %>
  <% @events.each do |event| %>

<div class="panel col s12 m6 l4">
  <div class="card blue-grey lighten-5">


  <div class="card-content ">
    <span class="card-title">
    <%= link_to event.title, event_path(event)%>
    </span>
    <table>
      <tbody>
        <tr>
          <th>Where?</th>
          <td><%= event.location %></td>
        </tr>
        <tr>
          <th>When?</th>
          <td><%= event.date %></td>
        </tr>
        <tr>
          <th>What?</th>
          <td><%= event.description %></td>
        </tr>
        <tr>
          <th>How many?</th>
          <td><%= event.size %></td>
        </tr>
        <tr>
          <th>How much?</th>
          <td>....Price....</td>
        </tr>
      </tbody>
    </table>
    <div>
    <% if user_signed_in? %>
    <%= link_to "Edit", edit_event_path(event) %>
    <%= link_to "Delete", event_path(event), method: :delete %>
    </div>
    <div class="card-action">
      <%= link_to "Join Event", new_event_booking_path(event.id) %>
      <%= link_to "Leave Event", leave_event_bookings_path(event.id) %>
    <% end %>
    </div>
  </div>
  </div>
</div>
  <% end %>
<% else %>
  <p> No events yet </p>
<% end %>
</div>



