<div class="row">
    <div class="toc-wrapper teal lighten-4 col s12 m3">
      <ul class="section table-of-contents">
        <li><a href="#what">What?</a></li>
        <li><a href="#when">When?</a></li>
        <li><a href="#where">Where?</a></li>
        <li><a href="#who">Who + How Many?</a></li>
        <li><a href="#publish">Publish</a></li>
      </ul>
  </div>

  <div class="col s12 m6 offset-m3">
      <div id="what" class="form-group section scrollspy">
      <h3>What</h3>
        <%= form_for @event do |f| %>
          <%= f.label :title, :required => true  %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Tell us what your evening's called", :required => true %>
          <%= f.label :description, :required => true %>
            <%= f.text_field :description, class: 'form-control', placeholder: "Tell us a little about what you'll be cooking", :required => true %>

    <div  id="when" class="section scrollspy col s12">
      <h3>When</h3>
        <% if @event.errors.any? %>
          <% @event.errors.full_messages.each do |message| %>
            <div class"form-error"><%= message %></div>
          <% end %>
        <% end %>
        <%= f.label :date, :required => true, :required => true %>
          <%= f.date_field :date, class: 'datepicker', placeholder: "When's it going to be?" :required => true %>
        <%= f.label :time, :required => true %>
          <%= f.time_field :time, placeholder: "What time should we arrive?" :required => true %>
    </div>

    
    <div id="where" class="section scrollspy col s12">
      <h3>Where</h3>
      <div class="input-group">
        <div id="locationField">
          <%= f.label :location, :required => true %>
            <%= f.text_field :location, class: 'form-control', id: "autocomplete", placeholder: "Tell us where we're going", :required => true %>
        </div>

        <%= f.label :housenumber, "House Number", :required => true %>
          <%= f.text_field :housenumber, class: 'form-control', id: "street_number", :required => true %> 
        <%= f.label :street %>
          <%= f.text_field :street, class: 'form-control', id: "route", :required => true %>
        <%= f.label :city, :required => true %>
          <%= f.text_field :city, class: 'form-control', id: "locality", :required => true %>     
        <%= f.label :postcode, :required => true %>
          <%= f.text_field :postcode, class: 'form-control', id: "postal_code", :required => true %>
        <%= f.label :country, :required => true %>
          <%= f.text_field :country, class: 'form-control', id: "country", :required => true %>
      </div>
    </div>

    <div  id="who" class="section scrollspy col s12">
      <h3>Who + How Many</h3>
        <%= f.label :size, :required => true %>
          <%= f.text_field :size, class: 'form-control', placeholder: "Tell us how many people you'd like to attend", :required => true %>
    </div>

    <div  id="publish" class="section scrollspy col s12">
      <h3>Publish</h3>
    <%= f.submit 'Create Event', :class => 'btn btn-primary'%>
    <% end %>
    </div>
    </div>
  </div>
</div>