<div class="row">
    <div class="toc-wrapper teal lighten-4 col s12 m3">
      <ul class="section table-of-contents">
        <li><a href="#what">What?</a></li>
        <li><a href="#when">When?</a></li>
        <li><a href="#where">Where?</a></li>
        <li><a href="#who">Who + How Many?</a></li>
        <li><a href="#publish">Publish</a></li>
      </ul>
  </div>

  <div class="col s12 m6 offset-m3">
    <div id="what" class="form-group section scrollspy">
    <%= form_for @event do |f| %>
      <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control'%>
      <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control'%>






    <div  id="when" class="section scrollspy col s12 m6 offset-m3">
      <h1>When</h1>
        <%= f.label :date %>
        <%= f.text_field :date, class: 'form-control' %>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <div id="where" class="section scrollspy col s12 m6 offset-m3">
      <h1>Where</h1>
      <div id="locationField">
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control', id: "autocomplete", placeholder: "Enter your address" %>
    </div>

    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
    </table>
    </div>

    <div  id="who" class="section scrollspy col s12 m6 offset-m3">
      <h1>Who and how many</h1>
        <%= f.label :size %>
        <%= f.text_field :size, class: 'form-control' %>
    </div>

    <div  id="publish" class="section scrollspy col s12 m6 offset-m3">
      <h1>Publish</h1>
    <%= f.submit 'Create Event', :class => 'btn btn-primary'%>
    <% end %>
    </div>
    </div>
  </div>
</div>