<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p><%= @event.date %></p>
<p><%= @event.size %></p>

<%if @guests.any? %>
  <% @guests.each_with_index do |guest, index| %>
    <p>Guest <%= index +1 %>: <%= guest.first_name %></p>
    <p><%= image_tag guest.image %></p>
  <% end %>
<% else %>
  <p>No guests yet</p>
<% end %>

<%= link_to "Join Event", new_event_booking_path(@event.id) %>
<%= link_to "Leave Event", leave_event_bookings_path(@event.id) %>