<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.date_format %><br>
<%= @event.time_format %></p>
<p><%= @event.housenumber %> <%= @event.street %><br>
<%= @event.city %><br>
<%= @event.postcode %><br>
<%= @event.country %></p>
<p><%= @event.size %></p>

<%if @guests.any? %>
  <% @guests.each_with_index do |guest, index| %>
    <p>Guest <%= index +1 %>: <%= guest.first_name %></p>
    <p><a href="/users"></a></p>
    <%= image_tag guest.image ? guest.image : guest.avatar.url(:thumb), :class => "avatar" %>
  <% end %>
<% else %>
  <p>No guests yet</p>
<% end %>
<ul>
  <% if @pictures.any? %>
    <% @pictures.each do |picture|%>
      <li><%= image_tag picture.image.url(:thumb) %>
      <p> <%= picture.title %> </p></li>
      <%= link_to "Remove #{picture.title}", eventpicture_path({"event_id" =>"#{@event.id}","picture_id"=>"#{picture.id}"}), method: :delete %>
      <% end %>
  <% else %>
    <li><p>No images yet yet</p></li>
  <% end %>
</ul>
<%= link_to "Add Image", library_event_pictures_path(@event.id)%>

<% if @display_edit == true %>
  <%= link_to "Edit", edit_event_path(@event) %>
  <%= link_to "Delete", event_path(@event), method: :delete %>
<% else %>

  <% if user_signed_in? && @guests.include?(current_user) %>
    <%= link_to "Leave Event", leave_event_bookings_path(@event.id) %>
  <% else %>
  <% if user_signed_in? %>
    <%= link_to "Join Event", new_event_booking_path(@event.id) %>
    <% end %>
  <% end %>

<% end %>

<% if @event.happened? && @guests.include?(current_user) %>
  <%= link_to "Review", new_event_review_path(@event) %>
<% else %>
  <p>Reviews available after event</p>
<% end %>
<h3>Reviews for <%= @event.title %></h3>

<% if @event.reviews.any? %>
  <ul>
    <% @event.reviews.each do |review| %>
      <li>
        <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews.</p>
<% end %>


