<div data-id=<%= @event.id %> class="col s12 map" id="single-map-canvas"></div>
<div id="info-box"></div>

<div class="row">

<div class="form-group m6 offset-m3 col s12">
<h3><p><%= @event.title %><br></h3>
<p><h5><%= @event.size %> people welcome</p></h5><br>

<p><div class="divider"></div><br>
<h5>What, when & where</h5><br>
<%= @event.description %></p>

<p><%= @event.nice_date %>
<p><%= @event.housenumber %> <%= @event.street %><br>
<%= @event.city %><br>
<%= @event.postcode %><br>
<%= @event.country %></p>

<div class="divider"></div><br>

<h5>Who's coming</h5><br>
<div class="row">
<%if @guests.any? %>
  <% @guests.each_with_index do |guest, index| %>
  <p>
    <div class="col s1.5">
    <a href="/users">
    <center>
    <%= image_tag guest.image ? guest.image : guest.avatar.url(:thumb), :class => "avatar circle" %><br>
    <%= guest.first_name %></a>
    </center>
    </div>
  </p>
  <% end %>
</div>
<% else %>
  <p>No guests yet</p>
<% end %><br>

<ul>
<div class="divider"></div><br>
  <% if @pictures.any? %>

    <div class="slider">
    <ul class="slides">
      <% @pictures.each do |picture|%>
      <li>
        <%= image_tag picture.image.url %><br>
      </li>
      <%= link_to "Remove '#{picture.title}'", eventpicture_path({"event_id" =>"#{@event.id}","picture_id"=>"#{picture.id}"}), method: :delete %>
      <% end %>
      </ul>
      </div>
    <% else %>
    <li><p>No images yet</p></li>
  <% end %>
</ul>


<%= link_to "Add Image", library_event_pictures_path(@event.id)%><br>
<% if @display_edit == true %>
  <%= link_to "Edit", edit_event_path(@event) %><br>
  <%= link_to "Delete", event_path(@event), method: :delete %>
<% else %>

  <% if user_signed_in? && @guests.include?(current_user) %>
    <%= link_to "Leave Event", leave_event_bookings_path(@event.id) %>
  <% else %>
  <% if user_signed_in? %>
    <%= link_to "Join Event", new_event_booking_path(@event.id) %>
    <% end %>
  <% end %>
<% end %><br><br>
<div class="divider"></div><br>

 <h5>
  Reviews for <%= @event.title %>
</h5>
<% if @event.reviews.any? %>
  <ul>
    <% @event.reviews.each do |review| %>
      <li>
        <%= review.thoughts %>, <strong><%= review.rating %></strong>/10
        <% if current_user.id == review.user_id %>
        <%= link_to "Edit", edit_event_review_path(review.event_id, @event.id) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews to display</p>
<% end %>

 <% if @event.happened? && @guests.include?(current_user) %>
  <%= link_to "Review", new_event_review_path(@event) %>
<% else %>
  <p>Reviews will be available after event</p>
<% end %>

<div class="divider"></div><br>

<% if user_signed_in? %>
<div class="toc-wrapper teal lighten-5 m6 offset-m3 col s12">
  <div class="comments">
    <h5>Comments</h5>
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
    <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
  </div>
</div>
<% end %>



