<div class="container">
<h5>Select an image to add to <%= @event.title %></h5>
<blockquote>
  Please make sure your image is are at least 200px wider than the height, it looks much better on the front page.
</blockquote>

<ul>
  <% if @pictures.any? %>
    <% @pictures.each do |picture|%>
      <li><%= image_tag picture.image.url(:medium), class: "photos" %>
       <%= link_to "Add", new_eventpicture_path({"event_id" =>"#{@event.id}","picture_id"=>"#{picture.id}"}), class: "waves-effect waves-light btn add-buttons" %>
      </li>
    <% end %>

  <% else %>
    <li><p>No pictures available to add to event</p></li>
  <% end %>
</ul>
<%= form_for @picture, html: {multipart: true} do |f| %>
      <%= f.file_field :image %>
      <br />
      <%= f.text_field :title, placeholder: "Image title", :required => true %>
      <%= f.submit "Upload", class: "new" %>
    <% end %>
</div>