  <ul class="section table-of-contents teal lighten-3 col s12 m3">
  <li><a href="#!">What?</a></li>
    <li><a href="#!">When?</a></li>
    <li><a href="#!">Where?</a></li>
    <li><a href="#!">Who + How Many?</a></li>
    <li><a href="#!">Publish</a></li>
  </ul>


<div class="form-group col s12 m6">
<%= form_for Event.new do |f| %>
  <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control'%>
  <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  <%= f.label :date %>
    <%= f.text_field :date, class: 'form-control' %>
  <%= f.label :size %>
    <%= f.text_field :size, class: 'form-control' %>
  <%= f.submit 'Create Event', :class => 'btn btn-primary'%>
<% end %>
</div>
