<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p><%= @event.date %></p>
<p><%= @event.size %></p>
<% @guests.each_with_index do |guest, index| %>
  <p>Guest <%= index +1 %>: <%= guest.email %></p>
<% end %>

<!-- <a href="/events/join_event">Join Event</a> -->

<%= link_to "Join Event", {:controller => "events", :action => "join", :id => @event.id }, :method => "post" %>