<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.location %></p>
<p><%= @event.date %></p>
<p><%= @event.size %></p>
<p><%= @event.guests %></p>

<!-- <a href="/events/join_event">Join Event</a> -->

<%= link_to "Join Event", {:controller => "events", :action => "join", :id => @event.id }, :method => "get" %>