<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<head>
  <title>Dinnr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="row">
    <nav>
      <div class="nav-wrapper col s12">
        <%= link_to "Dinnr", root_path, class: "brand-logo" %>
        <a href="#" data-activates="dinnr-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li ><%= link_to "Create event", new_event_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li>
    <%= image_tag current_user.image ? current_user.image : current_user.avatar.url(:thumb), :class => "menu-avatar" %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="dinnr-nav">
          <% if user_signed_in? %>
            <li ><%= link_to "Create event", new_event_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

<% if flash[:notice] || flash[:alert]%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
</header>

<main><%= yield %></main>

<footer class="page-footer teal lighten-4">
    <%= render "layouts/footer" %>
</footer>


</body>
</html>
