<!DOCTYPE html>
<html>
<head>
  <title>Dinnr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="row">
    <nav>
      <div class="nav-wrapper col s12">
        <%= link_to "Dinnr", root_path, class: "brand-logo" %>
        <a href="#" data-activates="dinnr-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li ><%= link_to "Create event", new_event_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="dinnr-nav">
          <li ><%= link_to "Create event", new_event_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

<% if flash[:notice] || flash[:alert]%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
</header>
<div class="row">
  <div class="col s12 main-map" id="map-canvas"></div>
</div>
<main><%= yield %></main>

<footer class="row"></footer>

</body>
</html>
